@model List<CustomerList.Models.Customer>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@Html.ActionLink("New Customer", "New", "Customers", new { @class = "btn btn-primary" })
